* {
    box-sizing: border-box;
}

body {
    font-size: 28px;
    background-color: rgb(144, 204, 144);
    height: 100vp;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}